@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {
  --color-primary: #222;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "sans-serif",
}

body {
  background: white;
  color: var(--color-primary);
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* Styling Components */
.page {
  padding-top: 175px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.page-content {
  max-width: var(--max-width);
}